.banner{
    background-image: url('https://img.freepik.com/free-photo/doctor-with-stethoscope-hands-hospital-background_1423-1.jpg?size=626&ext=jpg');
    height:75vh;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.header{
    text-align: center;
}
.header nav {
    line-height: 45px;
}
.header nav a{
    text-decoration: none;
    color: rgb(18, 71, 62);
    margin-right: 20px;
    padding: 5px;
    font-size: 20px;
}
.header nav a:hover{
    background-color: rgb(22, 214, 228);
}

@media only screen and (max-width: 688px){
    .heading{
       margin: 0%;
    }
    .header nav{
        display: flex;
        flex-direction: column;
    }
   
}